node_modules
dist
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

#ignore-file
package-lock.json

# idea ignore
.idea/
*.ipr
*.iml
*.iws
.idea/workspace.xml

*.wepycache


